/* 木村さんごめんなさい

@charset "UTF-8";

* {
  font-size: 15px;
  border-radius: 5px;
}

html, body, main {
  width: 95%;
  height: 95%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

form.login_form {
  width: 500px;
  height: 300px;
  border: solid 1px #000000;
  background-color: #bce2e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.login_form * {
  margin: 5px 10px;
}

form.login_form div {
  margin: 0px;
}

form.login_form p:last-of-type {
  text-align: right;
}

form.login_form label[for] {
  display: block;
  font-size: 13px;
}

input[type="text"], input[type="password"] {
  width: 455px;
  padding: 5px 10px;
}

input[type="submit"] {
  width: 60px;
  height: 30px;
}*/