<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
  </head>
  <body>
  <header th:replace="header"></header>
    <main>
    <form class="login_form" th:action="@{/login}" method="post">
      <div>
        <p>
          <label th:for="username" th:text="username" class="username">ユーザー名</label>
          <input type="text" name="username">
        </p>
        <p>
          <label th:for="password" th:text="password" class="password">パスワード</label>
          <input type="password" name="password">
        </p>
        <p>
          <input type="submit" value="Login" class="login_button">
          <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"  th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
          ログインIDまはたパスワードが間違っています。
          </p>
        </p>
      </div>
    </form>
    </main>
  <footer>
  </footer>
</body>
</html>