<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
	<form th:action="@{/login-processing}" method="post">
        username<input type="text" name="username">
        <br/>
        password<input type="password" name="password">
        <br/>
        <input type="submit" value="Login">
    </form>
    <script src="/js/login.js" th:src="@{/js/login.js}"></script>
</body>
</html>