<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
　　<meta charset="UTF-8">
　　<title>予約一覧</title>
　　<link href="/css/reservation_list.css" th:href="@{/css/reservation_list.css}" rel="stylesheet">
</head>
<body>
  <header>
  </header>
  <main>
    <div>
      <a href="/reservation_edit" th:href="@{/reservation_edit}">新規作成</a>
      <table>
        <thead>
	      <tr>
	        <th>利用日</th>
	        <th>開始時刻</th>
	        <th>終了時刻</th>
	        <th>利用者</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="x:${reservationList}" th:object="${x}">
	        <td><p th:text="*{useDate}"></p></td>
	        <td><p th:text="*{useStartTime}"></p></td>
	        <td><p th:text="*{useEndTime}"></p></td>
	        <td><p th:text="*{roomUsername}"></p></td>
	        <td><a href="/reservation_edit">編集</a></td>
	      </tr>
	    </tbody>
	  </table>
      <script src="/js/reservation_list.js" th:src="@{/js/reservation_list.js}"></script>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>